{{>partials/header}}


<div class="page" id="loginPage">
    <form action="/home">
        <h1>Qual é o seu nome?</h1>
        <input type="text" id="loginNameInput">
        <input type='submit' value='Entrar'>
    </form>    
    </div>
    <div class="page" id="chatPage">
        <div class="chatArea">
            <ul class="chatList">
               
            </ul>
            <ul class="userList">
                
            </ul>
        </div>
        <div class="chatInput" >
            <input type="text" id="chatTextInput" placeholder="Digite uma mensagem (e aperte ENTER)">
        </div>
    </div>
{{>partials/footer}}