* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
html {
    /* a cada 1rem será considerado 10px*/
    font-size: 62.5%;
}
:root {
    --color-blue: #051850;
    --color-yellow: #ffb404;
}
body{
    font-size: 1.6rem;
    font-family: 'Oswald', sans-serif;
    overflow-x: hidden;
}
header {
    height: 150px;
    position: absolute;
    width: 100%;
}
header .container {
    width: 90%;
    max-width: 1250px;
    margin: 0 auto;
}
.header {
    height: 150px;
    display: flex;
    justify-content: space-between;
}

.header .logo {
    width: 250px;
    z-index: 1;
}
.header .logo img {
    width: 100%;
}
.menu-section {
    width: 50px;
    height: 150px;
    z-index: 1;
}
.menu-toggle {
    width: 40px;
    margin-top: 60px;
    cursor: pointer;
}
.menu-toggle.on {
    margin-right: 70px;
}
.one,
.two,
.three {
    background-color: #000;
    height: 3px;
    width: 100%;
    margin: 8px auto;
    transition-duration: 0.3s;
}
.menu-section .nav {
    display: none;
}
.menu-section .nav.on {
    display: block;
}
nav ul {
    margin: 20px;
}
.menu-section.on .nav.on ul li {
    width: 35vw;
    padding: 20px;
    cursor: pointer;
}
 .nav.on ul li a {
    transition-duration: 0.5s;
    font-size: 4.5rem;
    color: #FFF;
}
nav ul li:hover {
    background-color: rgb(159 159 245 / 4%);
}
/* fullscreen*/
.menu-section.on {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 150vh;
    background-color: #000;
    z-index: 20;
    padding: 70px;
}
.menu-section.on .menu-toggle {
    position: absolute;
    right: 25px;
    top: 0px;
}
.menu-section.on .menu-toggle .one {
    transform: rotate(45deg) translate(7px, 7px);
    background-color: #FFF;
}
.menu-section.on .menu-toggle .two {
    opacity: 0;
}
.menu-section.on .menu-toggle .three {
    transform: rotate(-45deg) translate(8px, -9.5px);
    background-color: #FFF;
}


.banner {
    width: 100vw;
    height: 100vh;
    /* position: absolute;
    top: 0; */
    display: flex;
}
.banner-area1 {
    width: 42vw;
    display: flex;
    justify-content: flex-end;
}
.slider-width-text {
    width: 25vw;
    display: flex;
    align-items: center;
}
.slider--item--text1,
.slider--item--text2,
.slider--item--text3,
.slider--item--text4 {
    display: none;
    height: 55vh;
    z-index: 1;
}
.slider--item--text1.active,
.slider--item--text2.active,
.slider--item--text3.active,
.slider--item--text4.active {
    display: block;
}
.banner-area1-sub-title {
    text-transform: uppercase;
    margin-bottom: 50px;
}
.banner-area1-title {
    width: 45vw;
    height: 37vh;
    font-size: 6.5rem;
    font-weight: 600;
    margin-bottom: 50px;
}
.banner-area1-button a {
    margin-top: 40px;
    background-color: var(--color-blue);
    width: 166px;
    color: #FFF;
    padding: 20px 40px;
    border-radius: 30px;
    text-align: center;
    font-size: 1.3rem;
    letter-spacing: 1px;
    font-weight: 600;
}
.slider-width-text .arrow {
    position: absolute;
    bottom: 40px;
}
.slider-width-text .arrow img {
    width: 36px;
    animation: arrow infinite 1.5s;
   
}
.banner-area2 {
    width: 58vw;
    background-color: blue;
    overflow-x: hidden;
}
.slider--controls {
    width: 51.5%;
    max-width:58vw;
    height: 100vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
.slider-control {
    cursor: pointer;
    margin: 5px;
    border-radius: 50%;
    border: 1.5px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
}
.slider-control:hover {
    background-color: #dcdbdb;;
}
.slider-control img {
    width:40px;
}
.slider--width {
    height: 100vh;
    transition: all ease 0.3s;
    background-color: var(--color-blue);
    display: flex;
}
.slider--item {
    width: 58vw;
    height: 100vh;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.area1 {
    width: 100vw;
    height: 100vh;
    /* position: absolute;
    top: 100vh; */
    padding: 60px 90px 130px;
}
/* .area1-sub-title {
    text-transform: uppercase;
    margin-top: 25px;
    margin-bottom: 25px;
    letter-spacing: 3px;
} */
.area1-title {
    text-align: center;
}
.area1-title h1 {
    font-size: 6.5rem;
}
.area1-title h1 span {
    background-color: var(--color-yellow);
}
.area1-content {
    height: 60vh;
    display: flex;
    justify-content: center;
    position: relative;
}
.area1-content-img {
    width: 21vw;
    height: 60vh;
    /* margin-left: -160px; */
    z-index: 1;
    position: absolute;
    left: 16%;
}
.area1-img {
    background-image: url(../images/dra-apontando2.png);
    background-position: bottom;
    background-size: contain;
    height: 100%;
    background-repeat: no-repeat;
}
.area1-content-button {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 31%;
    /* right: 20%; */
    background-color: #ffb40438;
    width: 100vw;
    height: 41.4vh;
    
}
.area1-content-button h2 {
    font-size: 3.5rem;
    margin-bottom: 30px;
    text-align: center;
    margin-top: 16px;
}
.area1-button {
    -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
	animation: heartbeat 1.5s ease-in-out infinite both;
}
.area1-button a {
    margin-top: 40px;
    background-color: var(--color-blue);
    color: #FFF;
    padding: 15px 55px;
    border-radius: 30px;
    text-align: center;
    font-size: 1.5rem;
    letter-spacing: 1px;
    font-weight: 600;
    border: 1px solid #FFF;
    
}
.area2 {
    width: 100vw;
    height: 130vh;
    /* position: absolute;
    top: 200vh; */
    padding: 0px 90px;
    background-color: var(--color-blue) ;
    display: flex;
    
}
.area2-text {
    flex:1; 
    max-width: 40vw;
    padding: 160px 0px;
    color: #FFF;
}
.area2-subtitle {
    margin-bottom: 40px;
}
.area2-title {
    font-size: 3.5rem;
    line-height: 7rem;
    margin-bottom: 50px;
}
.area2 p {
    font-size: 1.8rem;
    line-height: 3.5rem;
    margin-bottom: 70px;
}
.area2-button a{
    margin-top: 40px;
    background-color: var(--color-blue);
    width: 166px;
    color: #FFF;
    padding: 20px 40px;
    border-radius: 30px;
    text-align: center;
    font-size: 1.3rem;
    letter-spacing: 1px;
    font-weight: 600;
    border: 1px solid #FFF;
}
.area2-button a:hover{
    background-color:#FFF;
    color: var(--color-blue);
}
.area2-img {
    /* background-color: red;  */
    flex:1; 
    max-height: 110vh; 
    background-image: url(../images/empresarios2.jpg);
    /* background-attachment: fixed; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* display: flex;
    align-items: center; */
    /* padding: 0px 340px; */
    margin-top: 70px;
}
.area2-parallax {
    width: 100%;
    position: absolute;
    min-height: 450px;
    background-attachment: fixed;
}

.area-seguros {
    height: 180vh;
    width: 100vw;
    /* position: absolute;
    top: 330vh; */
    display: grid; 
    grid-template-areas: 
    "icon1 icon3 title " 
    "icon2 icon4 title" 
    "icon5 icon6 icon7";
    padding: 75px 90px;
    justify-content: space-evenly;
}
.area-seguros--title {
    grid-area: title;
    max-width: 35vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 50px;
    background-color: var(--color-yellow);
    padding: 40px;
    align-items: flex-end;
}
/* .area-seguros-img {
    grid-area: segurosimg;
    background-image: url(../images/homem-escolhendo.jpg);
    background-position: center;
    background-size: cover;
    margin: 30px;
} */
.area-seguros-subtitle {
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 20px;
    letter-spacing: 3px;
}
.area-seguros-title h1{
    font-size: 5.5rem;
    margin-bottom: 30px;
    text-align: end;
    line-height: 7.5rem;
}
.area-seguros-text p {
    letter-spacing: 1px;
    margin-bottom: 60px;
    text-align: end;
}
.area-seguros-button {
    margin-bottom: 30px;
}
.area-seguros-button a{
    margin-top: 40px;
    background-color: var(--color-blue);
    width: 225px;
    color: #FFF;
    padding: 20px 40px;
    border-radius: 30px;
    border: 1px solid var(--color-blue);
    text-align: center;
    font-size: 1.3rem;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s;
}
.area-seguros-button a:hover{
    background-color:#000;
    font-size: 1.4rem;
}
.area-seguros-icon1,
.area-seguros-icon2,
.area-seguros-icon3,
.area-seguros-icon4,
.area-seguros-icon5,
.area-seguros-icon6,
.area-seguros-icon7 {
    max-width: 22vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
    margin: 20px;
}
.area-seguros-icon1 {
    grid-area: icon1;
    margin-top: 60px;
}
.area-seguros-icon2 {
    grid-area: icon2;
}
.area-seguros-icon3 {
    grid-area: icon3;
    margin-top: 60px;
}
.area-seguros-icon4 {
    grid-area: icon4;
}
.area-seguros-icon5 {
    grid-area: icon5;
}
.area-seguros-icon6 {
    grid-area: icon6;
}
.area-seguros-icon7 {
    grid-area: icon7;
}

.area-seguros-icon1 a,
.area-seguros-icon2 a,
.area-seguros-icon3 a,
.area-seguros-icon4 a,
.area-seguros-icon5 a,
.area-seguros-icon6 a,
.area-seguros-icon7 a {
    color: #000;
    transition: 0.2s;
}
.area-seguros-icon1 a:hover,
.area-seguros-icon2 a:hover,
.area-seguros-icon3 a:hover,
.area-seguros-icon4 a:hover,
.area-seguros-icon5 a:hover,
.area-seguros-icon6 a:hover,
.area-seguros-icon7 a:hover {
    color: var(--color-blue);
    font-size: 1.7rem;
}
.area-seguros-icon1 p,
.area-seguros-icon2 p,
.area-seguros-icon3 p,
.area-seguros-icon4 p,
.area-seguros-icon5 p,
.area-seguros-icon6 p,
.area-seguros-icon7 p {
    margin-bottom: 15px;
}
.area-seguros-icon-img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.07); 
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.07);
}
.area-seguros-icon-img img {
    width:65%;
}
.area-seguros .img-icon1 {
    width:80%;
}


.seguradoras {
    height: 130vh;
    width: 100vw;
    background-color: var(--color-blue);
    padding: 60px 115px;
}
.seguradoras-subtitle,
.seguradoras-title {
    color: #FFF;
}
.seguradoras-subtitle{
    height:50px;
}
.seguradoras-subtitle p{
    margin-bottom: 10px;
}
.seguradoras-subtitle-border {
    width: 160px;
    border-bottom: 2px solid #FFF;
}
.seguradoras-title {
    font-size: 3.5rem;
    margin-bottom: 25px;
}
.seguradoras .seguradoras-area {
    width: 100%;
    height: 80%;
    display: grid;
    grid-template-areas:
    "img1 img2 img3 img4"
    "img5 img6 img7 img8"
    "img9 img10 img11 img12"
    "img13 img14 img15 img16" ;
    justify-content: space-evenly;
    align-items: center;
}
.seguradoras-area1,
.seguradoras-area2,
.seguradoras-area3,
.seguradoras-area4,
.seguradoras-area5,
.seguradoras-area6,
.seguradoras-area7,
.seguradoras-area8,
.seguradoras-area9,
.seguradoras-area10,
.seguradoras-area11,
.seguradoras-area12,
.seguradoras-area13,
.seguradoras-area14,
.seguradoras-area15,
.seguradoras-area16 {
    border: 3px solid var(--color-blue);
    min-width: 250px;
    min-height: 150px;
    background-size:cover;
    background-position: center;
    transition: 0.1s;
}
.seguradoras-area1 {
    grid-area: img1;
    background-image: url(../images/amil.png);
    
}
.seguradoras-area1:hover, 
.seguradoras-area2:hover,
.seguradoras-area3:hover,
.seguradoras-area4:hover,
.seguradoras-area5:hover,
.seguradoras-area6:hover,
.seguradoras-area7:hover,
.seguradoras-area8:hover,
.seguradoras-area9:hover,
.seguradoras-area10:hover,
.seguradoras-area11:hover,
.seguradoras-area12:hover,
.seguradoras-area13:hover,
.seguradoras-area14:hover,
.seguradoras-area15:hover,
.seguradoras-area16:hover {
    border: 8px solid var(--color-blue);
    
}
.seguradoras-area2 {
    grid-area: img2;
    background-image: url(../images/allianz.png);
}
.seguradoras-area3 {
    grid-area: img3;
    background-image: url(../images/bradesco-seguros.png);
}
.seguradoras-area4 {
    grid-area: img4;
    background-image: url(../images/careplus2.jpg);
}
.seguradoras-area5 {
    grid-area: img5;
    background-image: url(../images/beneficiencia2.png);
}
.seguradoras-area6 {
    grid-area: img6;
    background-image: url(../images/sulamerica.png);
}
.seguradoras-area7 {
    grid-area: img7;
    background-image: url(../images/omint2.png);
}
.seguradoras-area8 {
    grid-area: img8;
    background-image: url(../images/notredame.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #FFF;
}
.seguradoras-area9 {
    grid-area: img9;
    background-image: url(../images/prevent.png);
}
.seguradoras-area10 {
    grid-area: img10;
    background-image: url(../images/sompo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #FFF;
}
.seguradoras-area11 {
    grid-area: img11;
    background-image: url(../images/unimed.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #FFF;
}
.seguradoras-area12 {
    grid-area: img12;
    background-image: url(../images/golden.png);
}
.seguradoras-area13 {
    grid-area: img13;
    background-image: url(../images/trasmontano.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #FFF;
}
.seguradoras-area14 {
    grid-area: img14;
    background-image: url(../images/saocristovao.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #FFF;
}
.seguradoras-area15 {
    grid-area: img15;
    background-image: url(../images/ameplan.png);
}
.seguradoras-area16 {
    grid-area: img16;
    background-image: url(../images/portoseguro.png);
}

.contato {
    width: 100vw;
    height: 100vh;
    padding: 80px 115px;
}
.contato-subtitle p {
    text-transform: uppercase;
    margin-bottom: 10px;
    letter-spacing: 1.5px;
}
.contato-subtitle-border {
    border: 1px solid var(--color-yellow);
    width: 50px;
}
.contato-title {
    height: 17vh;
}
.contato .contato-title h1 {
    font-size: 5rem;
}
.contato form {
    width: 50%;
    /* height: 57vh; */
    font-family: 'Oswald', sans-serif;
    border: 2px solid;
    padding: 40px;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.contato form span {
    margin-bottom: 35px;
}
.contato form input[type=text],
.contato form input[type=email] {
    border: none;
    
    width: 80%;
    height: 40px;
    border-bottom: 2px solid var(--color-blue);
    font-size: 1.8rem;
    color: var(--color-blue);
    padding-left: 20px;
}
.contato form input[type=submit] {
    margin-top: 40px;
    background-color: var(--color-blue);
    width: 166px;
    color: #FFF;
    padding: 15px 40px;
    border-radius: 30px;
    text-align: center;
    font-size: 1.4rem;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
}
footer {
    width: 100vw;
    height: 70vh;
    background-color: var(--color-blue);
    padding: 80px 115px;
    display: grid;
    grid-template-areas:
    "logo contacts links social"
    "baseboard baseboard baseboard baseboard" ;
    justify-content: space-around;
    letter-spacing: 0.5px;
}
footer .logo{
    grid-area: logo;
    min-height: 28vh;
    width: 20vw;
    background-image: url(../images/logo-semfundo.png);
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
}
footer .contacts{
    grid-area: contacts;
    min-height: 28vh;
    min-width: 10vw;
    padding: 0px 20px;
    max-width: 20vw;
    color: #FFF;
}
footer .contacts h3 {
    height: 50px;
}
footer .contacts p {
    margin-bottom: 20px;
    font-weight: 300;
}
footer .links{
    grid-area: links;
    min-height: 28vh;
    min-width: 10vw;
    color: #FFF;
    display: flex;
    flex-direction: column;

}
footer .links h3 {
    height: 50px;
}
footer .links a {
    margin-bottom: 20px;
    color: #FFF;
    font-weight: 300;
}
footer .social{
    grid-area: social;
    min-height: 28vh;
    min-width: 10vw;
    color: #FFF;
}
footer .social h3 {
    height: 50px;
}
footer .social a img {
    width:50px;
    margin-right: 10px;
}
footer .baseboard{
    grid-area: baseboard;
    color: #FFF;
    font-weight: 300;
}
footer .baseboard {
    border-top: 1px solid #FFF;
}
footer .baseboard p{
    margin-top: 20px;
    margin-left: 15px;
}
@keyframes arrow {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(28px);
    }
    100% {
        transform: translateY(0px);
    }
}
/* ----------------------------------------------
 * Generated by Animista on 2021-6-10 16:43:27
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */
 @-webkit-keyframes heartbeat {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: center center;
              transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    10% {
      -webkit-transform: scale(0.91);
              transform: scale(0.91);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    17% {
      -webkit-transform: scale(0.98);
              transform: scale(0.98);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    33% {
      -webkit-transform: scale(0.87);
              transform: scale(0.87);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    45% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  @keyframes heartbeat {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: center center;
              transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    10% {
      -webkit-transform: scale(0.91);
              transform: scale(0.91);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    17% {
      -webkit-transform: scale(0.98);
              transform: scale(0.98);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    33% {
      -webkit-transform: scale(0.87);
              transform: scale(0.87);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    45% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  