*{
    margin:0;
    padding:0;
    list-style: none;
    text-decoration: none;
}
:root {
    --color-orange-base: #F39B04;
    --color-orange-dark: #d86602eb;
    --color-green-whats: #219653;
}
body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}
.flash {
    background-color: var(--color-yellow);
    position: fixed;
    color: #FFF;
    padding: 0px;
    margin-bottom: 10px;
    text-align: center;
    z-index: 10;
    width: 100%;
    height: 15%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    display: none;
}
.bg-01 {
    position:absolute;
    z-index: -1;
    width:100%;
}
.bg-02 {
    position: relative;
    z-index: -1;
    right: -27%;
    width: 50%;
    bottom: -3%;
    height: 95%;
}
header {
    height: 215px;
    width: 100vw;
    margin: 0 auto;
    display:flex;
    justify-content: center;
    align-items: center;
}
header .header-menu {
    height: 100px;
    width: 80%;
    border-radius: 50px;
    background-color: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 40px;
}
header .header-menu-logo {
    width: 200px;
    height: 60px
}
header .header-menu-logo img {
    width: 100%;
}
header .header-menu-nav nav ul {
    display: flex;
    justify-content:center;
    align-items: center;
    width: 600px;
    height: 65px;
}
header .header-menu-nav nav ul a{
    font-size: 25px;
    font-weight: bold;
    color: var(--color-orange-base);
    padding: 10px 25px;
}
.section-01 {
    width: 100vw;
    height: auto;
}
.section-01-bg {
    width: 100%;
    height: 100%;
    background-image: url(../images/familia3.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.section-01-bg-escuro {
    width: 100%;
    height: 100%;
    background-color: rgba(243, 155, 4, 0.45);
}
.section-01-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.section-01-content-text,
.section-01-content-formulario {
    width: 50%;
    display: flex;
    justify-content: end;
    padding: 60px 0px;
}
.section-01-text {
    width: 550px;
    height:auto;
    background-color: rgba(243, 155, 4, 0.45);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0px 25px;
}
.section-01-text H1 {
    font-size: 36px;
    font-weight: 900;
    color: #FFF;
    text-align: center;
    line-height: 60px;
}
.area-button--whats {
    width: 100%;
    display: flex;
    justify-content: center;
}
.button--whats {
    width: 270px;
    height: 50px;
    background-color: var(--color-orange-dark);
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 1px 1px 12px 4px rgba(255,255,255,0.71);
}
.section-01-formulario {
    width: 550px;
    height:auto;
    padding: 30px 80px;
}
.section-01-content-formulario {
    justify-content: flex-start;
}
.section-01-formulario form {
    display: flex;
    flex-direction: column;
    color: #FFF;
    font-size: 20px;
}
.section-01-formulario form p {
    font-size: 20px;
    font-weight: 900;
}
.section-01-formulario form label {
    padding: 6px 0px;
}
.section-01-formulario form input[type="text"], 
.section-01-formulario form input[type="email"],
.section-01-formulario form select {
    width: 300px;
    height: 35px;
    border-radius: 10px;
    padding-left: 15px;
    border: 0;
    box-shadow: 1px 1px 12px 4px rgba(255,255,255,0.2);
}
.section-01-formulario form select  {
    width: 315px;
    height: 35px;
}
.section-01-formulario form button {
    width: 315px;
    height: 40px;
    border-radius: 8px;
    background-color: var(--color-orange-dark);
    border: 0;
    font-size: 20px;
    font-weight: 900;
    color: #FFF;
    box-shadow: 1px 1px 12px 4px rgba(255,255,255,0.71);
}

.section-02 {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 20px;
    color: var(--color-orange-base);
}
.section-02 .section-02-area1 {
    width: 90%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 70px;
    box-shadow: 1px 1px 12px 4px rgba(243,155,4,0.8);
    background-color: #FFF;
}
.section-02 .section-02-area1-icons {
    height: 225px;
    width: 24%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.section-02 .section-02-area1-icon,
.section-02 .section-02-area2-icon,
.section-04 .section-04-area1-icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: var(--color-orange-base);
    display: flex;
    align-items: center;
    justify-content: center;
}
.section-02 .section-02-area1-icon img,
.section-02 .section-02-area2 .section-02-area2-icon img,
.section-04 .section-04-area1-icon img {
    width: 50px;
    height: 50px;
}

.section-02 .section-02-area2 {
    width: 85%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 70px;
    box-shadow: 1px 1px 12px 4px rgba(243,155,4,0.8);
    background-color: #FFF;
    
}
.section-02 .section-02-area2 .section-02-area2-icons {
    height: 325px;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color:black;
}
.section-02 .section-02-area2 .section-02-area2-icons span {
    font-size: 14px;
    text-align: center;
    line-height: 20px;
}
.section-02 .section-02-area2 .button--whats-02,
.section-02 .section-02-area2 .button--whats-03,
.section-03 .button--whats-04 {
    width: 260px;
    height: 50px;
    background-color: var(--color-green-whats);
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer; 
}
.section-02 .section-02-area2 .button--whats-03 {
    background-color: var(--color-orange-base);
}
.section-03 {
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #d86602eb;
    color: #FFF;
    box-shadow: 1px 1px 12px 4px rgba(216,102,2,0.71);
}
.section-03 .section-03-areas {
    width: 30%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.section-03 .section-03-areas .section-03-areas-image01,
.section-03 .section-03-areas .section-03-areas-image02,
.section-03 .section-03-areas .section-03-areas-image03 {
    width: 80%;
    height: 250px;
    box-shadow: 1px 1px 12px 4px rgba(255,255,255,0.71);
    border-radius:25px;
}
.section-03-areas-image01 {
    background-image: url(../images/Image1.png);
    background-size: cover;
    background-position: center;
}
.section-03-areas-image02 {
    background-image: url(../images/Image2.png);
    background-size: cover;
    background-position: center;
}
.section-03-areas-image03 {
    background-image: url(../images/Image3.png);
    background-size: cover;
    background-position: center;
}
.section-03 .button--whats-04 {
    background-color: rgba(243,155,4,0.46);
    box-shadow: 1px 1px 12px 4px rgba(255,255,255,0.71);
}
.section-03 .section-03-areas p {
    text-align: center;
    font-size: 15px;
    line-height: 22px;
}

.section-04 {
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: var(--color-orange-base);
}
.section-04-area1 {
    width: 85%;
    height:250px;
    background-color: #FFF;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 70px;
    box-shadow: 1px 1px 12px 4px rgba(216,102,2,0.71);
    position: absolute;
}
.section-04 .section-04-area1-icons {
    height: 225px;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.section-04-area1 p {
    font-weight: bold;
    font-size: 20px;
}


@media (min-width: 1540px) {
    header .header-menu {
        width: 95%;
    }
}
@media (max-width: 600px) {
    header {
        height: 185px;
        width: 100%;
    }
    header .header-menu-logo {
        width: 185px;
        height: 50px;
    }
    header .header-menu {
        height: 85px;
    }
    .header-menu-nav {
        display: none;
    }
    .section-01-content-text, .section-01-content-formulario {
        padding: 0;
        width: 100%;
    }
    .section-01-content {
        flex-direction: column;
    }
    .section-01-text {
        width: 90%;
    }
    .section-01-text H1,
    .area-button--whats {
        margin-bottom: 30px;
        margin-top: 20px;
        font-size: 34px;
        line-height: 40px;
    }

    
    .section-01-formulario {
        width: 100%;
        height: auto;
        padding: 0;
    }
    .section-01-formulario form p {
        margin-top: 20px;
    }
    .section-01-formulario form {
        align-items: center;
    }
    .section-01-formulario form label {
        padding: 0px 0px;
        width: 75%;
    }
    .section-01-formulario form input[type="text"], .section-01-formulario form input[type="email"], .section-01-formulario form select {
        width: 90%;
        height: 45px;
        margin-bottom: 15px;
    }
    .section-01-formulario form select {
        width: 93%;
        height: 45px;
    }
    .section-01-formulario form button {
        margin-bottom: 30px;
        height: 50px;
    }

    .section-02 {
        width: 100%;
        padding: 25px 0px;
    }
    .section-02 .section-02-area1,
    .section-02 .section-02-area2 {
        flex-direction: column;
        width: 55%;
        margin-bottom: 30px;
    }
    .section-02 .section-02-area1-icons {
        height: auto;
        width: 75%;
        text-align: center;
        font-size: 16px;
        padding: 20px;
    }

    .section-02 .section-02-area2 {
        width: 65%;
        font-size: 16px;
    }
    .section-02 .section-02-area2 .section-02-area2-icons {
        height: auto;
        width: 75%;
        text-align: center;
        padding: 35px;
    }
    .section-02 .section-02-area1-icon, .section-02 .section-02-area2-icon, .section-04 .section-04-area1-icon, .section-02 h4, .section-02 span {
        margin-bottom: 15px;
    }
    .section-02 .section-02-area2 .button--whats-02, .section-02 .section-02-area2 .button--whats-03, .section-03 .button--whats-04 {
        width: 235px;
        font-size: 16px;
    }

    .section-03 {
        width: auto;
        flex-direction: column;
    }
    .section-03 .section-03-areas {
        width: 75%;
        height: auto;
        padding: 40px;
    }
    .section-03 .section-03-areas .section-03-areas-image01, .section-03 .section-03-areas .section-03-areas-image02, .section-03 .section-03-areas .section-03-areas-image03, .section-03 h3, .section-03 p {
        margin-bottom: 30px;
        font-size: 20px;
    }
    .section-03 .section-03-areas p {
        font-size: 18px;
        line-height: 26px;
    }

    .section-04 {
        padding: 25px 0px;
    }
    .section-04-area1 {
        height: auto;
        flex-direction: column;
        width: 65%;
        position: initial;
    }
    .section-04-area1 p {
        font-size: 16px; 
    }
    .section-04 .section-04-area1-icons {
        width: 70%;
        padding: 20px;
    }
    .section-04-area1 p {

    }
    .bg-02 {
        position: absolute;
    }
}